<main class="flex h-screen pt-[5rem]">
    <div class="w-1/2 p-[10rem]">
        <h1 class="uppercase text-[18px] font-[600]">Introducing Savin for healthcare providers</h1>
        <h3 class="text-[48px] font-[700]">Make healthcare <span class="text-orange-400">accessible</span></h3>
        <h3 class="text-orange-400 text-[48px] font-[700]">for your customers </h3>
        <p class="text-[rgba(52,43,80,.74)] text-[20px] my-[25px]">By Splitting thier healthcare expenses into 0% EMIs</p>
        <button (click)="handleClick()" class="bg-orange-400 text-white  px-[44px] py-[12px] rounded-lg">Partner with us</button> 
        <p class="text-[rgba(52,43,80,.74)] mt-[20rem]">Trusted by <span class="text-orange-400">4,000+</span> Healthcare Providers</p>
    </div>
    <div class="w-1/2">
        <img src="../../../assets/img.png" />
    </div>
</main>
